<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Data</h3>
  </div>
  <div class="panel-body">
    <p>Sensor Data</p>
  </div>

  <!-- Table -->
  <table class="table" *ngIf="device">
    <tr>
      <th>Sensor</th>
      <th>ID</th>
      <th>Timestamp</th>
      <th>Value</th>
    </tr>

    <tr *ngFor="let sensor of device.sensors">
      <td>{{sensor.type}}</td>
      <td>{{sensor.sensorId}}</td>
      <td>{{sensor.timestamp}}</td>
      <td>{{sensor.data}}</td>
    </tr>

  </table>
</div>
