<div class="panel panel-default" *ngIf="deviceId">
  <div class="panel-heading">
    <h3 class="panel-title">Information</h3>
  </div>
  <div class="panel-body" >
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img [src]="device.image" height="200" width="242" alt="...">
        </div>
      </div>
      <div class="col-sm-6 col-md-8">
        <h3><b>(ID {{device.deviceId}})</b> - {{device.type}} <span class="glyphicon glyphicon-ok text-success"  *ngIf="device.online" aria-hidden="true"></span> <span class="glyphicon glyphicon-remove text-danger" *ngIf="!device.online"  aria-hidden="true"></span></h3>
        <p><b>Status:</b> {{device.status}}</p>
        <p><b>Type:</b> {{device.type}}</p>
        <p><b>Sensors:</b> {{device.sensorTextList}}</p>
        <p><b>Actuators:</b> {{device.actuatorTextList}}</p>
        <p><b>Online since:</b> {{device.timestamp}}</p>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron" *ngIf="!deviceId">
    <h1>
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  IoT Admin Control Center</h1>
    <p>
        Select an IoT device from list to start.</p>
    <p>
</div>
