<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">My Device</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://placehold.it/242x200" alt="...">
        </div>
      </div>
      <div class="col-sm-6 col-md-8">
        <h3><b>Device ID</b> - 001</h3>
        <p><b>Status:</b> Online</p>
        <p><b>Type:</b> iPlant moisture</p>
        <p><b>Version:</b> V0.1</p>
        <p><b>Sensors:</b> Moisture</p>
        <p><b>Actuators:</b> N/A</p>
        <p><b>Last update:</b> Today</p>
      </div>
    </div>
  </div>
</div>
